.topnav {
    background-color: #141414;
    overflow: hidden;
}

.topnav a {
    list-style-type: none;
    color: #50C878;
    text-align: center;
    padding: 14px 16px;
    text-decoration: wavy;
    font-size: 17px;
    display: inline-block;
}

.topnav a:hover {
    background-color: #131c14;
    color: #50C878;
}

.topnav a.active {
    background-color: #212121;
    color: white;
}

div {
    height: 100px;
    background-color: red;
    background-image: linear-gradient( to right, red, #f06d06 );
}