html {
    font-family: monospace;
}

body {
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(10,10,10,1) 50%, rgba(10,102,26,1) 100%);
    text-shadow: 2px 2px #141414;
}

.topnav {
    background-color: #141414;
    overflow: hidden;
}

.topnav a {
    list-style-type: none;
    color: #46a164;
    text-align: center;
    padding: 14px 16px;
    text-decoration: wavy;
    font-size: 17px;
    display: inline-block;
    align-items: center;
}

.topnav a:hover {
    background-color: #215c2e;
    color: #18d642;
}

.topnav a.active {
    background-color: #212121;
    color: white;
}

div.outer {
    position: relative;
    overflow: auto;
    float: left;
    z-index: 0;
}

div.resize {
    position: relative;
    width: 250px;
    height: 300px;
    resize: both;
    overflow: hidden;
    z-index: 10;
}

div.inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: inset 0 0 100px #777;
    overflow: hidden;
    z-index: 9;
}

@keyframes animate{
    50% {
        content: "Thomas Bedwell, I'm not impressed";
    }
    100% {
        content: "Thomas Bedwell, nobody's impressed";
    }
}