.topnav {
    background-color: #141414;
    overflow: hidden;
}

.topnav a {
    list-style-type: none;
    color: #46a164;
    text-align: center;
    padding: 14px 16px;
    text-decoration: wavy;
    font-size: 17px;
    display: inline-block;
}

.topnav a:hover {
    background-color: #131c14;
    color: #50C878;
}

.topnav a.active {
    background-color: #212121;
    color: white;
}

.gradient {
    height: 100%;
    background-color: black;
    background: linear-gradient(90deg, rgba(80,200,120,1) 0%, rgba(70,161,100,1) 45%, rgba(6,0,0,1) 100%);
    background-attachment: fixed;
    background-size: cover;
}